<app-banner
[banner_title]="banner_title"
[banner_description]="banner_description">
</app-banner>

<section class="page-section fullscreen bg- d-flex align-items-center bg-gray">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-4">
                <h2 class="mb-4">Web Design and Development</h2>
                <p class="p-text mb-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Possimus tenetur corrupti eligendi corporis fuga, sint ipsum id, 
                    qui pariatur quo accusamus quod labore quidem vel?
                </p>
            </div>
            <div class="col-lg-8 pl-5">
                <img src="assets/media-resources/web-mockup2.png" class="w-100" alt="mockup">
            </div>
        </div>
    </div>
</section>

<section class="page-section fullscreen d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-4">
                <h2 class="mb-4">Graphics Design</h2>
                <p class="p-text mb-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Possimus tenetur corrupti eligendi corporis fuga, sint ipsum id, 
                    qui pariatur quo accusamus quod labore quidem vel?
                </p>
            </div>
            <div class="col-lg-8 pl-5">
                <img src="assets/media-resources/graphics.png" class="w-100" alt="mockup">
            </div>
        </div>
    </div>
</section>

<section class="page-section fullscreen d-flex align-items-center bg-gray">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-4">
                <h2 class="mb-4">Maintenance and Upgrade</h2>
                <p class="p-text mb-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Possimus tenetur corrupti eligendi corporis fuga, sint ipsum id, 
                    qui pariatur quo accusamus quod labore quidem vel?
                </p>
            </div>
            <div class="col-lg-8 pl-5">
                <img src="assets/media-resources/maintenance.png" class="w-100" alt="mockup">
            </div>
        </div>
    </div>
</section>

<section class="page-section fullscreen d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-4">
                <h2 class="mb-4">Up my Idea</h2>
                <p class="p-text mb-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Possimus tenetur corrupti eligendi corporis fuga, sint ipsum id, 
                    qui pariatur quo accusamus quod labore quidem vel?
                </p>
            </div>
            <div class="col-lg-8 pl-5">
                <img src="assets/media-resources/idea.png" class="w-100" alt="mockup">
            </div>
        </div>
    </div>
</section>